openapi: 3.2.0
info:
  title: Flagsmith Segments API
  version: '1.0'
  description: 'Operations tagged Segments across 2 of this provider''s published API definitions: flagsmith-admin-api-openapi.yml, flagsmith-api-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.flagsmith.com/api/v1
  description: Flagsmith Production API
tags:
- name: Segments
  description: Manage segments within a project. Segments define groups of users based on traits and rules for targeted flag delivery.
paths:
  /projects/{project_id}/segments/:
    get:
      operationId: listSegments
      summary: List segments for a project
      description: Retrieves a list of all segments defined within a specific project. Segments define groups of users based on trait-based rules for targeted flag delivery.
      tags:
      - Segments
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Successful response containing a list of segments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          description: Unauthorized - invalid or missing API token
        '404':
          description: Project not found
      security:
      - apiKeyAuth: []
    post:
      operationId: createSegment
      summary: Create a segment
      description: Creates a new segment within a project. Segments define groups of users based on trait-based rules and conditions for targeted feature flag delivery.
      tags:
      - Segments
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SegmentInput'
      responses:
        '201':
          description: Segment created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Segment'
        '400':
          description: Bad request - validation error
        '401':
          description: Unauthorized - invalid or missing API token
        '404':
          description: Project not found
      security:
      - apiKeyAuth: []
    servers:
    - url: https://api.flagsmith.com/api/v1
      description: Flagsmith Production API
  /projects/{project_id}/segments/{segment_id}/:
    get:
      operationId: getSegment
      summary: Get a segment
      description: Retrieves the details of a specific segment by its ID within a project, including its rules and conditions.
      tags:
      - Segments
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/SegmentId'
      responses:
        '200':
          description: Successful response containing the segment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Segment'
        '401':
          description: Unauthorized - invalid or missing API token
        '404':
          description: Segment or project not found
      security:
      - apiKeyAuth: []
    put:
      operationId: updateSegment
      summary: Update a segment
      description: Updates the details of an existing segment including its name, description, and rules.
      tags:
      - Segments
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/SegmentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SegmentInput'
      responses:
        '200':
          description: Segment updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Segment'
        '400':
          description: Bad request - validation error
        '401':
          description: Unauthorized - invalid or missing API token
        '404':
          description: Segment or project not found
      security:
      - apiKeyAuth: []
    delete:
      operationId: deleteSegment
      summary: Delete a segment
      description: Permanently deletes a segment from a project. Any segment overrides associated with this segment will also be removed. This action cannot be undone.
      tags:
      - Segments
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/SegmentId'
      responses:
        '204':
          description: Segment deleted successfully
        '401':
          description: Unauthorized - invalid or missing API token
        '404':
          description: Segment or project not found
      security:
      - apiKeyAuth: []
    servers:
    - url: https://api.flagsmith.com/api/v1
      description: Flagsmith Production API
  /api/v1/projects/{project_pk}/segments/{id}/:
    patch:
      operationId: api_v1_projects_segments_partial_update
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this segment.
        required: true
      - in: path
        name: project_pk
        schema:
          type: integer
        required: true
      tags:
      - Segments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedSegment'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedSegment'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedSegment'
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Segment_2'
          description: ''
      summary: Api v1 projects segments partial update
      x-summary-source: derived
    delete:
      operationId: api_v1_projects_segments_destroy
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this segment.
        required: true
      - in: path
        name: project_pk
        schema:
          type: integer
        required: true
      tags:
      - Segments
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '204':
          description: No response body
      summary: Api v1 projects segments destroy
      x-summary-source: derived
  /api/v1/projects/{project_pk}/segments/{id}/associated-features/:
    get:
      operationId: api_v1_projects_segments_associated_features_retrieve
      parameters:
      - in: query
        name: environment
        schema:
          type: integer
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this segment.
        required: true
      - in: path
        name: project_pk
        schema:
          type: integer
        required: true
      tags:
      - Segments
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentAssociatedFeatureState'
          description: ''
      summary: Api v1 projects segments associated features retrieve
      x-summary-source: derived
  /api/v1/projects/{project_pk}/segments/{id}/clone/:
    post:
      operationId: api_v1_projects_segments_clone_create
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this segment.
        required: true
      - in: path
        name: project_pk
        schema:
          type: integer
        required: true
      tags:
      - Segments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloneSegment'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CloneSegment'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CloneSegment'
        required: true
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Segment_2'
          description: ''
      summary: Api v1 projects segments clone create
      x-summary-source: derived
  /api/v1/projects/{project_pk}/segments/{id}/members/:
    get:
      operationId: api_v1_projects_segments_members_retrieve
      parameters:
      - in: query
        name: cursor
        schema:
          type: string
          minLength: 1
        description: The identifier of the previous page's last row; omit for the first page.
      - in: query
        name: environment
        schema:
          type: integer
        description: The id of the environment to list segment members for.
        required: true
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this segment.
        required: true
      - in: query
        name: limit
        schema:
          type: integer
          maximum: 200
          minimum: 1
          default: 100
        description: Page size, up to 200.
      - in: path
        name: project_pk
        schema:
          type: integer
        required: true
      - in: query
        name: q
        schema:
          type: string
          minLength: 1
        description: Case-insensitive substring to filter members by identifier.
      tags:
      - Segments
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentMembersResponse'
          description: ''
      summary: Api v1 projects segments members retrieve
      x-summary-source: derived
  /api/v1/segments/get-by-uuid/{uuid}/:
    get:
      operationId: api_v1_segments_get_by_uuid_retrieve
      parameters:
      - in: path
        name: uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - Segments
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Segment_2'
          description: ''
      summary: Api v1 segments get by uuid retrieve
      x-summary-source: derived
components:
  schemas:
    SegmentRule:
      type: object
      description: A rule within a segment that defines conditions for membership. Rules can be combined with AND/OR logic.
      properties:
        type:
          type: string
          enum:
          - ALL
          - ANY
          - NONE
          description: The logical operator for combining conditions within this rule. ALL requires all conditions to match, ANY requires at least one, NONE requires none to match.
        rules:
          type: array
          description: Nested sub-rules for complex logic
          items:
            $ref: '#/components/schemas/SegmentRule'
        conditions:
          type: array
          description: The conditions that make up this rule
          items:
            $ref: '#/components/schemas/SegmentCondition'
    Segment:
      type: object
      description: A segment defines a group of users based on trait-based rules for targeted feature flag delivery.
      properties:
        id:
          type: integer
          description: The unique identifier for this segment
        name:
          type: string
          description: The name of the segment
        description:
          type: string
          nullable: true
          description: A description of the segment
        project:
          type: integer
          description: The ID of the project this segment belongs to
        rules:
          type: array
          description: The rules that define segment membership
          items:
            $ref: '#/components/schemas/SegmentRule'
    SegmentInput:
      type: object
      description: Input object for creating or updating a segment
      required:
      - name
      - project
      - rules
      properties:
        name:
          type: string
          description: The name of the segment
        description:
          type: string
          nullable: true
          description: A description of the segment
        project:
          type: integer
          description: The ID of the project
        rules:
          type: array
          description: The rules that define segment membership
          items:
            $ref: '#/components/schemas/SegmentRule'
    PaginatedResponse:
      type: object
      description: A paginated response wrapper containing the results count and navigation links.
      properties:
        count:
          type: integer
          description: The total number of results
        next:
          type: string
          nullable: true
          format: uri
          description: URL to the next page of results
        previous:
          type: string
          nullable: true
          format: uri
          description: URL to the previous page of results
        results:
          type: array
          description: The array of result objects for this page
          items:
            type: object
    SegmentCondition:
      type: object
      description: A condition within a segment rule that evaluates a trait against a value using an operator.
      properties:
        operator:
          type: string
          enum:
          - EQUAL
          - NOT_EQUAL
          - GREATER_THAN
          - GREATER_THAN_INCLUSIVE
          - LESS_THAN
          - LESS_THAN_INCLUSIVE
          - CONTAINS
          - NOT_CONTAINS
          - REGEX
          - PERCENTAGE_SPLIT
          - IS_SET
          - IS_NOT_SET
          - IN
          description: The comparison operator to use
        property_:
          type: string
          description: The trait key to evaluate
        value:
          type: string
          description: The value to compare against
    _SegmentCohort:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        environment:
          type: integer
        environment_api_key:
          type: string
          readOnly: true
        environment_name:
          type: string
          readOnly: true
        source_type:
          $ref: '#/components/schemas/SourceTypeEnum'
        version:
          type: integer
          maximum: 2147483647
          minimum: 0
        deletion_requested_at:
          type:
          - string
          - 'null'
          format: date-time
      required:
      - environment
    Condition:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        operator:
          $ref: '#/components/schemas/ConditionOperatorEnum'
        property:
          type:
          - string
          - 'null'
          maxLength: 1000
        value:
          type:
          - string
          - 'null'
          maxLength: 1000
        description:
          type:
          - string
          - 'null'
        delete:
          type: boolean
          writeOnly: true
      required:
      - operator
    SegmentRule_2:
      type: object
      description: Adds nested create feature
      properties:
        id:
          type: integer
          readOnly: true
        type:
          $ref: '#/components/schemas/SegmentRuleTypeEnum'
        rules:
          type: array
          items:
            $ref: '#/components/schemas/_NestedSegmentRule'
        conditions:
          type: array
          items:
            $ref: '#/components/schemas/Condition'
        delete:
          type: boolean
          writeOnly: true
      required:
      - type
    SegmentMembershipCount:
      type: object
      properties:
        environment:
          type: integer
          readOnly: true
        count:
          type: integer
          readOnly: true
        last_synced_at:
          type: string
          format: date-time
          readOnly: true
    PatchedSegment:
      type: object
      description: Functionality for serializers that need to handle metadata
      properties:
        id:
          type: integer
          readOnly: true
        uuid:
          type: string
          format: uuid
          readOnly: true
        created_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        updated_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        name:
          type: string
          maxLength: 2000
        description:
          type:
          - string
          - 'null'
        project:
          type: integer
          readOnly: true
        feature:
          type:
          - integer
          - 'null'
        version_of:
          type:
          - integer
          - 'null'
        rules:
          type: array
          items:
            $ref: '#/components/schemas/SegmentRule_2'
        metadata:
          type: array
          items:
            $ref: '#/components/schemas/Metadata'
        membership_counts:
          type: array
          items:
            $ref: '#/components/schemas/SegmentMembershipCount'
          readOnly: true
        managed_by:
          readOnly: true
          oneOf:
          - $ref: '#/components/schemas/ManagedByEnum'
          - $ref: '#/components/schemas/BlankEnum'
        cohort:
          oneOf:
          - $ref: '#/components/schemas/_SegmentCohort'
          - type: 'null'
          readOnly: true
        has_overrides:
          type: boolean
          readOnly: true
          description: Whether any feature override points at this segment, counting overrides that are live now or scheduled to go live.
    SegmentMembersResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/SegmentMember'
        next_cursor:
          type:
          - string
          - 'null'
          description: Pass as `cursor` to fetch the next page; null when there are no more rows.
      required:
      - next_cursor
      - results
    ManagedByEnum:
      enum:
      - cohort
      type: string
      description: '* `` - Unmanaged

        * `cohort` - Cohort'
    Metadata:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        model_field:
          type: integer
        field_value:
          type: string
          maxLength: 2000
      required:
      - field_value
      - model_field
    SegmentRuleTypeEnum:
      enum:
      - ALL
      - ANY
      - NONE
      type: string
      description: '* `ALL` - all

        * `ANY` - any

        * `NONE` - none'
    SegmentAssociatedFeatureState:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        feature:
          type: integer
        environment:
          type:
          - integer
          - 'null'
      required:
      - feature
    SourceTypeEnum:
      enum:
      - csv
      - amplitude
      - mixpanel
      type: string
      description: '* `csv` - CSV

        * `amplitude` - Amplitude

        * `mixpanel` - Mixpanel'
    _NestedSegmentRule:
      type: object
      description: Adds nested create feature
      properties:
        id:
          type: integer
          readOnly: true
        type:
          $ref: '#/components/schemas/SegmentRuleTypeEnum'
        conditions:
          type: array
          items:
            $ref: '#/components/schemas/Condition'
        delete:
          type: boolean
          writeOnly: true
      required:
      - type
    SegmentMember:
      type: object
      properties:
        identifier:
          type: string
        identity_key:
          type: string
        traits: {}
      required:
      - identifier
      - identity_key
      - traits
    ConditionOperatorEnum:
      enum:
      - EQUAL
      - GREATER_THAN
      - LESS_THAN
      - CONTAINS
      - GREATER_THAN_INCLUSIVE
      - LESS_THAN_INCLUSIVE
      - NOT_CONTAINS
      - NOT_EQUAL
      - REGEX
      - PERCENTAGE_SPLIT
      - MODULO
      - IS_SET
      - IS_NOT_SET
      - IN
      type: string
      description: '* `EQUAL` - Exactly Matches

        * `GREATER_THAN` - Greater than

        * `LESS_THAN` - Less than

        * `CONTAINS` - Contains

        * `GREATER_THAN_INCLUSIVE` - Greater than or equal to

        * `LESS_THAN_INCLUSIVE` - Less than or equal to

        * `NOT_CONTAINS` - Does not contain

        * `NOT_EQUAL` - Does not match

        * `REGEX` - Matches regex

        * `PERCENTAGE_SPLIT` - Percentage split

        * `MODULO` - Modulo Operation

        * `IS_SET` - Is set

        * `IS_NOT_SET` - Is not set

        * `IN` - In'
    CloneSegment:
      type: object
      properties:
        name:
          type: string
          maxLength: 2000
      required:
      - name
    BlankEnum:
      enum:
      - ''
    Segment_2:
      type: object
      description: Functionality for serializers that need to handle metadata
      properties:
        id:
          type: integer
          readOnly: true
        uuid:
          type: string
          format: uuid
          readOnly: true
        created_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        updated_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        name:
          type: string
          maxLength: 2000
        description:
          type:
          - string
          - 'null'
        project:
          type: integer
          readOnly: true
        feature:
          type:
          - integer
          - 'null'
        version_of:
          type:
          - integer
          - 'null'
        rules:
          type: array
          items:
            $ref: '#/components/schemas/SegmentRule_2'
        metadata:
          type: array
          items:
            $ref: '#/components/schemas/Metadata'
        membership_counts:
          type: array
          items:
            $ref: '#/components/schemas/SegmentMembershipCount'
          readOnly: true
        managed_by:
          readOnly: true
          oneOf:
          - $ref: '#/components/schemas/ManagedByEnum'
          - $ref: '#/components/schemas/BlankEnum'
        cohort:
          oneOf:
          - $ref: '#/components/schemas/_SegmentCohort'
          - type: 'null'
          readOnly: true
        has_overrides:
          type: boolean
          readOnly: true
          description: Whether any feature override points at this segment, counting overrides that are live now or scheduled to go live.
      required:
      - name
      - rules
  parameters:
    SegmentId:
      name: segment_id
      in: path
      description: The unique identifier for the segment
      required: true
      schema:
        type: integer
    ProjectId:
      name: project_id
      in: path
      description: The unique identifier for the project
      required: true
      schema:
        type: integer
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: A secret Organisation API Token prefixed with 'Api-Key'. For example, 'Api-Key your-token-here'. This token should never be exposed in client-side code.
    Cohort_Sync_Key:
      type: http
      scheme: bearer
      description: For cohort sync endpoints called by an external cohort source, such as Amplitude.
    Cohort_Sync_Key__Basic:
      type: http
      scheme: basic
      description: For cohort sync endpoints called by an external cohort source that can only send Basic credentials, such as Mixpanel. The key is the password; the username is ignored.
    Environment_API_Key:
      type: apiKey
      in: header
      name: X-Environment-Key
      description: For SDK endpoints. <a href='https://docs.flagsmith.com/clients/rest#public-api-endpoints'>Find out more</a>.
    Master_API_Key:
      type: apiKey
      in: header
      name: Authorization
      description: For Management API endpoints. <a href='https://docs.flagsmith.com/integrating-with-flagsmith/flagsmith-api-overview/management-api'>Find out more</a>.
    basicAuth:
      type: http
      scheme: basic
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Token-based authentication with required prefix "Token"
externalDocs:
  description: Flagsmith Admin API Documentation
  url: https://docs.flagsmith.com/integrating-with-flagsmith/flagsmith-api-overview/admin-api
x-refined-from:
- flagsmith-admin-api-openapi.yml
- flagsmith-api-openapi.json
