openapi: 3.2.0
info:
  title: Flagsmith Webhooks API
  version: '1.0'
  description: 'Operations tagged Webhooks across 2 of this provider''s published API definitions: flagsmith-admin-api-openapi.yml, flagsmith-api-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.flagsmith.com/api/v1
  description: Flagsmith Production API
tags:
- name: Webhooks
  description: Configure webhooks for environments and organisations to receive notifications about flag changes and audit log events.
paths:
  /environments/{environment_api_key}/webhooks/:
    get:
      operationId: listEnvironmentWebhooks
      summary: List environment webhooks
      description: Retrieves a list of all webhooks configured for a specific environment. Environment webhooks receive flag evaluation data for identified users.
      tags:
      - Webhooks
      parameters:
      - $ref: '#/components/parameters/EnvironmentApiKey'
      responses:
        '200':
          description: Successful response containing a list of webhooks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Webhook'
        '401':
          description: Unauthorized - invalid or missing API token
      security:
      - apiKeyAuth: []
    post:
      operationId: createEnvironmentWebhook
      summary: Create an environment webhook
      description: Creates a new webhook for an environment. The webhook will receive POST requests containing flag evaluation data whenever identities are evaluated.
      tags:
      - Webhooks
      parameters:
      - $ref: '#/components/parameters/EnvironmentApiKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookInput'
      responses:
        '201':
          description: Webhook created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          description: Bad request - validation error
        '401':
          description: Unauthorized - invalid or missing API token
      security:
      - apiKeyAuth: []
    servers:
    - url: https://api.flagsmith.com/api/v1
      description: Flagsmith Production API
  /organisations/{organisation_id}/webhooks/:
    get:
      operationId: listOrganisationWebhooks
      summary: List organisation webhooks
      description: Retrieves a list of all webhooks configured for a specific organisation. Organisation webhooks receive audit log events for changes made across the organisation.
      tags:
      - Webhooks
      parameters:
      - $ref: '#/components/parameters/OrganisationId'
      responses:
        '200':
          description: Successful response containing a list of webhooks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Webhook'
        '401':
          description: Unauthorized - invalid or missing API token
      security:
      - apiKeyAuth: []
    post:
      operationId: createOrganisationWebhook
      summary: Create an organisation webhook
      description: Creates a new webhook for an organisation. The webhook will receive POST requests containing audit log events for changes made across the organisation.
      tags:
      - Webhooks
      parameters:
      - $ref: '#/components/parameters/OrganisationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookInput'
      responses:
        '201':
          description: Webhook created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          description: Bad request - validation error
        '401':
          description: Unauthorized - invalid or missing API token
      security:
      - apiKeyAuth: []
    servers:
    - url: https://api.flagsmith.com/api/v1
      description: Flagsmith Production API
  /api/v1/cb-webhook/:
    post:
      operationId: api_v1_cb_webhook_create
      description: 'Endpoint to handle webhooks from chargebee.


        Payment failure and payment succeeded webhooks are filtered out and processed

        to determine which of our subscriptions are in a dunning state.


        The remaining webhooks are processed if they have subscription data:


        - If subscription is active, check to see if plan has changed and update if so. Always update cancellation date to

        None to ensure that if a subscription is reactivated, it is updated on our end.


        - If subscription is cancelled or not renewing, update subscription on our end to include cancellation date and

        send alert to admin users.'
      tags:
      - Webhooks
      security:
      - basicAuth: []
      responses:
        '200':
          description: No response body
      summary: Api v1 cb webhook create
      x-summary-source: derived
  /api/v1/cohort-sync/mixpanel/webhook/:
    post:
      operationId: api_v1_cohort_sync_mixpanel_webhook_create
      description: Called by Mixpanel every sync cycle with the cohort's full membership (`members`) or the changes since the last sync (`add_members`/`remove_members`).
      tags:
      - Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MixpanelWebhook'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/MixpanelWebhook'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/MixpanelWebhook'
        required: true
      security:
      - Cohort Sync Key: []
      - Cohort Sync Key (Basic): []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MixpanelWebhookResponse'
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MixpanelWebhookFailureResponse'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MixpanelWebhookFailureResponse'
          description: ''
      x-flagsmith-minimum-plan: START_UP
      summary: Api v1 cohort sync mixpanel webhook create
      x-summary-source: derived
  /api/v1/cohort-sync/webhook/cohorts/{id}/members/add/:
    post:
      operationId: api_v1_cohort_sync_webhook_cohorts_members_add_create
      description: Add members to a CSV cohort. Accepted deltas are applied to identity data asynchronously. Re-adding a member is a no-op, so retries are safe.
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
      tags:
      - Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookSyncMembers'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/WebhookSyncMembers'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/WebhookSyncMembers'
        required: true
      security:
      - Cohort Sync Key: []
      - Cohort Sync Key (Basic): []
      responses:
        '200':
          description: No response body
      x-flagsmith-minimum-plan: START_UP
      summary: Api v1 cohort sync webhook cohorts members add create
      x-summary-source: derived
  /api/v1/cohort-sync/webhook/cohorts/{id}/members/remove/:
    post:
      operationId: api_v1_cohort_sync_webhook_cohorts_members_remove_create
      description: Remove members from a CSV cohort. Accepted deltas are applied to identity data asynchronously. Removing a non-member is a no-op, so retries are safe.
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
      tags:
      - Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookSyncMembers'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/WebhookSyncMembers'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/WebhookSyncMembers'
        required: true
      security:
      - Cohort Sync Key: []
      - Cohort Sync Key (Basic): []
      responses:
        '200':
          description: No response body
      x-flagsmith-minimum-plan: START_UP
      summary: Api v1 cohort sync webhook cohorts members remove create
      x-summary-source: derived
  /api/v1/environments/{environment_api_key}/webhooks/:
    get:
      operationId: api_v1_environments_webhooks_list
      description: Manage webhooks for an environment.
      parameters:
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      tags:
      - Webhooks
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Webhook_2'
          description: ''
      summary: Api v1 environments webhooks list
      x-summary-source: derived
    post:
      operationId: api_v1_environments_webhooks_create
      description: Manage webhooks for an environment.
      parameters:
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      tags:
      - Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Webhook_2'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Webhook_2'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Webhook_2'
        required: true
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook_2'
          description: ''
      summary: Api v1 environments webhooks create
      x-summary-source: derived
  /api/v1/environments/{environment_api_key}/webhooks/{id}/:
    put:
      operationId: api_v1_environments_webhooks_update
      description: Manage webhooks for an environment.
      parameters:
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this webhook.
        required: true
      tags:
      - Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Webhook_2'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Webhook_2'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Webhook_2'
        required: true
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook_2'
          description: ''
      summary: Api v1 environments webhooks update
      x-summary-source: derived
    patch:
      operationId: api_v1_environments_webhooks_partial_update
      description: Manage webhooks for an environment.
      parameters:
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this webhook.
        required: true
      tags:
      - Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedWebhook'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedWebhook'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedWebhook'
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook_2'
          description: ''
      summary: Api v1 environments webhooks partial update
      x-summary-source: derived
    delete:
      operationId: api_v1_environments_webhooks_destroy
      description: Manage webhooks for an environment.
      parameters:
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this webhook.
        required: true
      tags:
      - Webhooks
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '204':
          description: No response body
      summary: Api v1 environments webhooks destroy
      x-summary-source: derived
  /api/v1/github-webhook/:
    post:
      operationId: api_v1_github_webhook_create
      tags:
      - Webhooks
      security:
      - tokenAuth: []
      - Master API Key: []
      - {}
      responses:
        '200':
          description: No response body
      summary: Api v1 github webhook create
      x-summary-source: derived
  /api/v1/organisations/{organisation_pk}/webhooks/:
    get:
      operationId: api_v1_organisations_webhooks_list
      parameters:
      - in: path
        name: organisation_pk
        schema:
          type: integer
        required: true
      - name: page
        required: false
        in: query
        description: A page number within the paginated result set.
        schema:
          type: integer
      tags:
      - Webhooks
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOrganisationWebhookList'
          description: ''
      summary: Api v1 organisations webhooks list
      x-summary-source: derived
    post:
      operationId: api_v1_organisations_webhooks_create
      parameters:
      - in: path
        name: organisation_pk
        schema:
          type: integer
        required: true
      tags:
      - Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganisationWebhook'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OrganisationWebhook'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OrganisationWebhook'
        required: true
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationWebhook'
          description: ''
      summary: Api v1 organisations webhooks create
      x-summary-source: derived
  /api/v1/organisations/{organisation_pk}/webhooks/{id}/:
    get:
      operationId: api_v1_organisations_webhooks_retrieve
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this organisation webhook.
        required: true
      - in: path
        name: organisation_pk
        schema:
          type: integer
        required: true
      tags:
      - Webhooks
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationWebhook'
          description: ''
      summary: Api v1 organisations webhooks retrieve
      x-summary-source: derived
    put:
      operationId: api_v1_organisations_webhooks_update
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this organisation webhook.
        required: true
      - in: path
        name: organisation_pk
        schema:
          type: integer
        required: true
      tags:
      - Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganisationWebhook'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OrganisationWebhook'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OrganisationWebhook'
        required: true
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationWebhook'
          description: ''
      summary: Api v1 organisations webhooks update
      x-summary-source: derived
    patch:
      operationId: api_v1_organisations_webhooks_partial_update
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this organisation webhook.
        required: true
      - in: path
        name: organisation_pk
        schema:
          type: integer
        required: true
      tags:
      - Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedOrganisationWebhook'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedOrganisationWebhook'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedOrganisationWebhook'
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationWebhook'
          description: ''
      summary: Api v1 organisations webhooks partial update
      x-summary-source: derived
    delete:
      operationId: api_v1_organisations_webhooks_destroy
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this organisation webhook.
        required: true
      - in: path
        name: organisation_pk
        schema:
          type: integer
        required: true
      tags:
      - Webhooks
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '204':
          description: No response body
      summary: Api v1 organisations webhooks destroy
      x-summary-source: derived
  /api/v1/webhooks/test/:
    post:
      operationId: api_v1_webhooks_test_create
      tags:
      - Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestWebhook'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TestWebhook'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TestWebhook'
        required: true
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestWebhookSuccessResponse'
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestWebhookErrorResponse'
          description: ''
      summary: Api v1 webhooks test create
      x-summary-source: derived
components:
  parameters:
    OrganisationId:
      name: organisation_id
      in: path
      description: The unique identifier for the organisation
      required: true
      schema:
        type: integer
    EnvironmentApiKey:
      name: environment_api_key
      in: path
      description: The API key for the environment
      required: true
      schema:
        type: string
  schemas:
    WebhookInput:
      type: object
      description: Input object for creating or updating a webhook
      required:
      - url
      properties:
        url:
          type: string
          format: uri
          description: The URL to send webhook events to
        enabled:
          type: boolean
          description: Whether the webhook should be enabled
        secret:
          type: string
          description: Optional secret for signing webhook payloads with HMAC-SHA256
    Webhook:
      type: object
      description: A webhook configuration for receiving event notifications from Flagsmith.
      properties:
        id:
          type: integer
          description: The unique identifier for this webhook
        url:
          type: string
          format: uri
          description: The URL to send webhook events to
        enabled:
          type: boolean
          description: Whether the webhook is currently enabled
        created_at:
          type: string
          format: date-time
          description: When the webhook was created
        updated_at:
          type: string
          format: date-time
          description: When the webhook was last updated
        secret:
          type: string
          description: Optional secret used to sign webhook payloads with HMAC-SHA256 for verification
    OrganisationWebhook:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          maxLength: 200
        enabled:
          type: boolean
        secret:
          type: string
          maxLength: 255
        created_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        updated_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
      required:
      - url
    MixpanelWebhookError:
      type: object
      properties:
        message:
          type: string
        code:
          type: integer
      required:
      - code
      - message
    PatchedOrganisationWebhook:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          maxLength: 200
        enabled:
          type: boolean
        secret:
          type: string
          maxLength: 255
        created_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        updated_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
    MixpanelWebhook:
      type: object
      properties:
        action:
          $ref: '#/components/schemas/ActionEnum'
        parameters:
          $ref: '#/components/schemas/MixpanelParameters'
      required:
      - action
      - parameters
    PaginatedOrganisationWebhookList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type: string
          nullable: true
          format: uri
          example: http://api.example.org/accounts/?page=4
        previous:
          type: string
          nullable: true
          format: uri
          example: http://api.example.org/accounts/?page=2
        results:
          type: array
          items:
            $ref: '#/components/schemas/OrganisationWebhook'
    TestWebhookSuccessResponse:
      type: object
      properties:
        detail:
          type: string
        status:
          type: integer
          default: 200
      required:
      - detail
    WebhookSyncMembers:
      type: object
      properties:
        identifiers:
          type: array
          items:
            type: string
          description: Identity identifiers, each at most 1024 bytes of UTF-8.
          maxItems: 10000
          minItems: 1
      required:
      - identifiers
    WebhookScopeTypeEnum:
      enum:
      - organisation
      - environment
      type: string
      description: '* `organisation` - organisation

        * `environment` - environment'
    TestWebhookErrorResponse:
      type: object
      properties:
        detail:
          type: string
        status:
          type: integer
        body:
          type:
          - string
          - 'null'
      required:
      - detail
      - status
    MixpanelWebhookFailureResponse:
      type: object
      properties:
        action:
          type:
          - string
          - 'null'
        status:
          type: string
        error:
          $ref: '#/components/schemas/MixpanelWebhookError'
      required:
      - action
      - error
      - status
    PatchedWebhook:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          maxLength: 200
        enabled:
          type: boolean
        created_at:
          type: string
          format: date-time
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true
        secret:
          type: string
          maxLength: 255
    MixpanelWebhookResponse:
      type: object
      properties:
        action:
          type: string
        status:
          type: string
      required:
      - action
      - status
    MixpanelMember:
      type: object
      properties:
        mixpanel_distinct_id:
          type: string
      required:
      - mixpanel_distinct_id
    TestWebhook:
      type: object
      properties:
        webhook_url:
          type: string
          format: uri
        scope:
          $ref: '#/components/schemas/Scope'
        secret:
          type:
          - string
          - 'null'
      required:
      - scope
      - webhook_url
    Scope:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/WebhookScopeTypeEnum'
      required:
      - type
    ActionEnum:
      enum:
      - members
      - add_members
      - remove_members
      type: string
      description: '* `members` - members

        * `add_members` - add_members

        * `remove_members` - remove_members'
    MixpanelParameters:
      type: object
      properties:
        mixpanel_cohort_id:
          type: string
          maxLength: 255
        mixpanel_cohort_name:
          type: string
          maxLength: 2000
        members:
          type: array
          items:
            $ref: '#/components/schemas/MixpanelMember'
      required:
      - members
      - mixpanel_cohort_id
      - mixpanel_cohort_name
    Webhook_2:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        url:
          type: string
          format: uri
          maxLength: 200
        enabled:
          type: boolean
        created_at:
          type: string
          format: date-time
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true
        secret:
          type: string
          maxLength: 255
      required:
      - url
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: A secret Organisation API Token prefixed with 'Api-Key'. For example, 'Api-Key your-token-here'. This token should never be exposed in client-side code.
    Cohort_Sync_Key:
      type: http
      scheme: bearer
      description: For cohort sync endpoints called by an external cohort source, such as Amplitude.
    Cohort_Sync_Key__Basic:
      type: http
      scheme: basic
      description: For cohort sync endpoints called by an external cohort source that can only send Basic credentials, such as Mixpanel. The key is the password; the username is ignored.
    Environment_API_Key:
      type: apiKey
      in: header
      name: X-Environment-Key
      description: For SDK endpoints. <a href='https://docs.flagsmith.com/clients/rest#public-api-endpoints'>Find out more</a>.
    Master_API_Key:
      type: apiKey
      in: header
      name: Authorization
      description: For Management API endpoints. <a href='https://docs.flagsmith.com/integrating-with-flagsmith/flagsmith-api-overview/management-api'>Find out more</a>.
    basicAuth:
      type: http
      scheme: basic
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Token-based authentication with required prefix "Token"
externalDocs:
  description: Flagsmith Admin API Documentation
  url: https://docs.flagsmith.com/integrating-with-flagsmith/flagsmith-api-overview/admin-api
x-refined-from:
- flagsmith-admin-api-openapi.yml
- flagsmith-api-openapi.json
