openapi: 3.2.0
info:
  title: Flagsmith Environments API
  version: '1.0'
  description: 'Operations tagged Environments across 2 of this provider''s published API definitions: flagsmith-admin-api-openapi.yml, flagsmith-api-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.flagsmith.com/api/v1
  description: Flagsmith Production API
tags:
- name: Environments
  description: Manage environments within a project. Environments represent deployment stages such as development, staging, and production.
paths:
  /environments/:
    get:
      operationId: listEnvironments
      summary: List environments
      description: Retrieves a list of all environments the authenticated user has access to. Environments represent deployment stages within a project.
      tags:
      - Environments
      responses:
        '200':
          description: Successful response containing a list of environments
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Environment'
        '401':
          description: Unauthorized - invalid or missing API token
      security:
      - apiKeyAuth: []
    servers:
    - url: https://api.flagsmith.com/api/v1
      description: Flagsmith Production API
  /environments/{environment_api_key}/:
    get:
      operationId: getEnvironment
      summary: Get an environment
      description: Retrieves the details of a specific environment by its API key, including its name, project, and feature states.
      tags:
      - Environments
      parameters:
      - $ref: '#/components/parameters/EnvironmentApiKey'
      responses:
        '200':
          description: Successful response containing the environment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '401':
          description: Unauthorized - invalid or missing API token
        '404':
          description: Environment not found
      security:
      - apiKeyAuth: []
    put:
      operationId: updateEnvironment
      summary: Update an environment
      description: Updates the details of an existing environment including its name, description, and configuration properties.
      tags:
      - Environments
      parameters:
      - $ref: '#/components/parameters/EnvironmentApiKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentInput'
      responses:
        '200':
          description: Environment updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '400':
          description: Bad request - validation error
        '401':
          description: Unauthorized - invalid or missing API token
        '404':
          description: Environment not found
      security:
      - apiKeyAuth: []
    servers:
    - url: https://api.flagsmith.com/api/v1
      description: Flagsmith Production API
  /api/v1/environments/:
    post:
      operationId: api_v1_environments_create
      tags:
      - Environments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEnvironment'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateEnvironment'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateEnvironment'
        required: true
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateEnvironment'
          description: ''
      summary: Api v1 environments create
      x-summary-source: derived
  /api/v1/environments/{api_key}/:
    get:
      operationId: api_v1_environments_retrieve
      parameters:
      - in: path
        name: api_key
        schema:
          type: string
        required: true
      tags:
      - Environments
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentRetrieveSerializerWithMetadata'
          description: ''
      summary: Api v1 environments retrieve
      x-summary-source: derived
    put:
      operationId: api_v1_environments_update
      parameters:
      - in: path
        name: api_key
        schema:
          type: string
        required: true
      tags:
      - Environments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEnvironment'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateEnvironment'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UpdateEnvironment'
        required: true
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateEnvironment'
          description: ''
      summary: Api v1 environments update
      x-summary-source: derived
    patch:
      operationId: api_v1_environments_partial_update
      parameters:
      - in: path
        name: api_key
        schema:
          type: string
        required: true
      tags:
      - Environments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedUpdateEnvironment'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedUpdateEnvironment'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedUpdateEnvironment'
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateEnvironment'
          description: ''
      summary: Api v1 environments partial update
      x-summary-source: derived
    delete:
      operationId: api_v1_environments_destroy
      parameters:
      - in: path
        name: api_key
        schema:
          type: string
        required: true
      tags:
      - Environments
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '204':
          description: No response body
      summary: Api v1 environments destroy
      x-summary-source: derived
  /api/v1/environments/{api_key}/clone/:
    post:
      operationId: api_v1_environments_clone_create
      parameters:
      - in: path
        name: api_key
        schema:
          type: string
        required: true
      tags:
      - Environments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloneEnvironment'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CloneEnvironment'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CloneEnvironment'
        required: true
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloneEnvironment'
          description: ''
      summary: Api v1 environments clone create
      x-summary-source: derived
  /api/v1/environments/{api_key}/delete-traits/:
    post:
      operationId: api_v1_environments_delete_traits_create
      parameters:
      - in: path
        name: api_key
        schema:
          type: string
        required: true
      tags:
      - Environments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteAllTraitKeys'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DeleteAllTraitKeys'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DeleteAllTraitKeys'
        required: true
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteAllTraitKeys'
          description: ''
      summary: Api v1 environments delete traits create
      x-summary-source: derived
  /api/v1/environments/{api_key}/disable-v2-versioning/:
    post:
      operationId: api_v1_environments_disable_v2_versioning_create
      parameters:
      - in: path
        name: api_key
        schema:
          type: string
        required: true
      tags:
      - Environments
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '202':
          description: No response body
      summary: Api v1 environments disable v2 versioning create
      x-summary-source: derived
  /api/v1/environments/{api_key}/document/:
    get:
      operationId: api_v1_environments_document_retrieve
      parameters:
      - in: path
        name: api_key
        schema:
          type: string
        required: true
      tags:
      - Environments
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1EnvironmentDocumentResponse'
          description: ''
      summary: Api v1 environments document retrieve
      x-summary-source: derived
  /api/v1/environments/{api_key}/enable-v2-versioning/:
    post:
      operationId: api_v1_environments_enable_v2_versioning_create
      parameters:
      - in: path
        name: api_key
        schema:
          type: string
        required: true
      tags:
      - Environments
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '202':
          description: No response body
      summary: Api v1 environments enable v2 versioning create
      x-summary-source: derived
  /api/v1/environments/{api_key}/my-permissions/:
    get:
      operationId: api_v1_environments_my_permissions_retrieve
      parameters:
      - in: path
        name: api_key
        schema:
          type: string
        required: true
      tags:
      - Environments
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserObjectPermissions'
          description: ''
      summary: Api v1 environments my permissions retrieve
      x-summary-source: derived
  /api/v1/environments/{api_key}/trait-keys/:
    get:
      operationId: api_v1_environments_trait_keys_retrieve
      parameters:
      - in: path
        name: api_key
        schema:
          type: string
        required: true
      tags:
      - Environments
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TraitKeys'
          description: ''
      summary: Api v1 environments trait keys retrieve
      x-summary-source: derived
  /api/v1/environments/{api_key}/user-detailed-permissions/{user_id}/:
    get:
      operationId: api_v1_environments_user_detailed_permissions_retrieve
      parameters:
      - in: path
        name: api_key
        schema:
          type: string
        required: true
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^\d+$
        required: true
      tags:
      - Environments
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDetailedPermissions'
          description: ''
      summary: Api v1 environments user detailed permissions retrieve
      x-summary-source: derived
  /api/v1/environments/{environment_api_key}/api-keys/:
    get:
      operationId: api_v1_environments_api_keys_list
      description: Manage server-side SDK keys for an environment.
      parameters:
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      tags:
      - Environments
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EnvironmentAPIKey'
          description: ''
      summary: Api v1 environments api keys list
      x-summary-source: derived
    post:
      operationId: api_v1_environments_api_keys_create
      description: Manage server-side SDK keys for an environment.
      parameters:
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      tags:
      - Environments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentAPIKey'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EnvironmentAPIKey'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EnvironmentAPIKey'
        required: true
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentAPIKey'
          description: ''
      summary: Api v1 environments api keys create
      x-summary-source: derived
  /api/v1/environments/{environment_api_key}/api-keys/{id}/:
    put:
      operationId: api_v1_environments_api_keys_update
      description: Manage server-side SDK keys for an environment.
      parameters:
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this environment api key.
        required: true
      tags:
      - Environments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentAPIKey'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EnvironmentAPIKey'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EnvironmentAPIKey'
        required: true
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentAPIKey'
          description: ''
      summary: Api v1 environments api keys update
      x-summary-source: derived
    patch:
      operationId: api_v1_environments_api_keys_partial_update
      description: Manage server-side SDK keys for an environment.
      parameters:
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this environment api key.
        required: true
      tags:
      - Environments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedEnvironmentAPIKey'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedEnvironmentAPIKey'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedEnvironmentAPIKey'
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentAPIKey'
          description: ''
      summary: Api v1 environments api keys partial update
      x-summary-source: derived
    delete:
      operationId: api_v1_environments_api_keys_destroy
      description: Manage server-side SDK keys for an environment.
      parameters:
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this environment api key.
        required: true
      tags:
      - Environments
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '204':
          description: No response body
      summary: Api v1 environments api keys destroy
      x-summary-source: derived
  /api/v1/environments/{environment_api_key}/cohorts/:
    get:
      operationId: api_v1_environments_cohorts_list
      description: List the environment's cohorts.
      parameters:
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      tags:
      - Environments
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Cohort'
          description: ''
      x-flagsmith-minimum-plan: START_UP
      summary: Api v1 environments cohorts list
      x-summary-source: derived
    post:
      operationId: api_v1_environments_cohorts_create
      description: Create a cohort and the managed segment that targets it.
      parameters:
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      tags:
      - Environments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cohort'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Cohort'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Cohort'
        required: true
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cohort'
          description: ''
      x-flagsmith-minimum-plan: START_UP
      summary: Api v1 environments cohorts create
      x-summary-source: derived
  /api/v1/environments/{environment_api_key}/cohorts/{cohort_id}/:
    get:
      operationId: api_v1_environments_cohorts_retrieve
      description: Retrieve a cohort.
      parameters:
      - in: path
        name: cohort_id
        schema:
          type: integer
        description: A unique integer value identifying this cohort.
        required: true
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      tags:
      - Environments
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cohort'
          description: ''
      x-flagsmith-minimum-plan: START_UP
      summary: Api v1 environments cohorts retrieve
      x-summary-source: derived
    patch:
      operationId: api_v1_environments_cohorts_partial_update
      description: Update the cohort's managed segment name, description and metadata.
      parameters:
      - in: path
        name: cohort_id
        schema:
          type: integer
        description: A unique integer value identifying this cohort.
        required: true
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      tags:
      - Environments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedCohort'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedCohort'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedCohort'
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cohort'
          description: ''
      x-flagsmith-minimum-plan: START_UP
      summary: Api v1 environments cohorts partial update
      x-summary-source: derived
    delete:
      operationId: api_v1_environments_cohorts_destroy
      description: Request cohort deletion. Memberships are drained from identity data first; the cohort and its segment are deleted once drained.
      parameters:
      - in: path
        name: cohort_id
        schema:
          type: integer
        description: A unique integer value identifying this cohort.
        required: true
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      tags:
      - Environments
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '202':
          description: No response body
      x-flagsmith-minimum-plan: START_UP
      summary: Api v1 environments cohorts destroy
      x-summary-source: derived
  /api/v1/environments/{environment_api_key}/cohorts/{cohort_id}/sync-csv/:
    post:
      operationId: api_v1_environments_cohorts_sync_csv_create
      description: Replace the cohort's members with the identifiers found in the uploaded CSV file and trigger a sync to identity data. `identifier_column` is the 0-based index of the column holding the identifiers; `has_header` skips the first row when true.
      parameters:
      - in: path
        name: cohort_id
        schema:
          type: integer
        description: A unique integer value identifying this cohort.
        required: true
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      tags:
      - Environments
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CohortCsvSync'
        required: true
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CohortCsvSyncResult'
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ''
        '413':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ''
      x-flagsmith-minimum-plan: START_UP
      summary: Api v1 environments cohorts sync csv create
      x-summary-source: derived
  /api/v1/environments/{environment_api_key}/cohorts/sync-keys/:
    get:
      operationId: api_v1_environments_cohorts_sync_keys_list
      parameters:
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      tags:
      - Environments
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CohortSyncKey'
          description: ''
      x-flagsmith-minimum-plan: START_UP
      summary: Api v1 environments cohorts sync keys list
      x-summary-source: derived
    post:
      operationId: api_v1_environments_cohorts_sync_keys_create
      description: Create a cohort sync key. The response is the only time the plaintext key is available.
      parameters:
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      tags:
      - Environments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CohortSyncKey'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CohortSyncKey'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CohortSyncKey'
        required: true
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CohortSyncKey'
          description: ''
      x-flagsmith-minimum-plan: START_UP
      summary: Api v1 environments cohorts sync keys create
      x-summary-source: derived
  /api/v1/environments/{environment_api_key}/cohorts/sync-keys/{prefix}/:
    delete:
      operationId: api_v1_environments_cohorts_sync_keys_destroy
      description: Revoke a cohort sync key.
      parameters:
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      - in: path
        name: prefix
        schema:
          type: string
        required: true
      tags:
      - Environments
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '204':
          description: No response body
      x-flagsmith-minimum-plan: START_UP
      summary: Api v1 environments cohorts sync keys destroy
      x-summary-source: derived
  /api/v1/environments/{environment_api_key}/edge-identity-overrides:
    get:
      operationId: api_v1_environments_edge_identity_overrides_retrieve
      parameters:
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      - in: query
        name: feature
        schema:
          type: integer
      tags:
      - Environments
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEdgeIdentityOverrides'
          description: ''
      summary: Api v1 environments edge identity overrides retrieve
      x-summary-source: derived
  /api/v1/environments/{environment_api_key}/experiment-metrics/{id}/:
    patch:
      operationId: api_v1_environments_experiment_metrics_partial_update
      description: Manage experiment metrics for an environment.
      parameters:
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this metric.
        required: true
      tags:
      - Environments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedMetric'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedMetric'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedMetric'
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metric'
          description: ''
      summary: Api v1 environments experiment metrics partial update
      x-summary-source: derived
    delete:
      operationId: api_v1_environments_experiment_metrics_destroy
      description: Manage experiment metrics for an environment.
      parameters:
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this metric.
        required: true
      tags:
      - Environments
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '204':
          description: No response body
      summary: Api v1 environments experiment metrics destroy
      x-summary-source: derived
  /api/v1/environments/{environment_api_key}/experiments/{experiment_experiment_id}/metrics/:
    get:
      operationId: api_v1_environments_experiments_metrics_list
      description: Manage metrics for an experiment.
      parameters:
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      - in: path
        name: experiment_experiment_id
        schema:
          type: string
        required: true
      tags:
      - Environments
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExperimentMetric'
          description: ''
      summary: Api v1 environments experiments metrics list
      x-summary-source: derived
    post:
      operationId: api_v1_environments_experiments_metrics_create
      description: Manage metrics for an experiment.
      parameters:
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      - in: path
        name: experiment_experiment_id
        schema:
          type: string
        required: true
      tags:
      - Environments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentMetric'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ExperimentMetric'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ExperimentMetric'
        required: true
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentMetric'
          description: ''
      summary: Api v1 environments experiments metrics create
      x-summary-source: derived
  /api/v1/environments/{environment_api_key}/experiments/{experiment_experiment_id}/metrics/{id}/:
    get:
      operationId: api_v1_environments_experiments_metrics_retrieve
      description: Manage metrics for an experiment.
      parameters:
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      - in: path
        name: experiment_experiment_id
        schema:
          type: string
        required: true
      - in: path
        name: id
        schema:
          type: string
        required: true
      tags:
      - Environments
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentMetric'
          description: ''
      summary: Api v1 environments experiments metrics retrieve
      x-summary-source: derived
    put:
      operationId: api_v1_environments_experiments_metrics_update
      description: Manage metrics for an experiment.
      parameters:
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      - in: path
        name: experiment_experiment_id
        schema:
          type: string
        required: true
      - in: path
        name: id
        schema:
          type: string
        required: true
      tags:
      - Environments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentMetric'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ExperimentMetric'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ExperimentMetric'
        required: true
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentMetric'
          description: ''
      summary: Api v1 environments experiments metrics update
      x-summary-source: derived
    patch:
      operationId: api_v1_environments_experiments_metrics_partial_update
      description: Manage metrics for an experiment.
      parameters:
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      - in: path
        name: experiment_experiment_id
        schema:
          type: string
        required: true
      - in: path
        name: id
        schema:
          type: string
        required: true
      tags:
      - Environments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedExperimentMetric'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedExperimentMetric'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedExperimentMetric'
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentMetric'
          description: ''
      summary: Api v1 environments experiments metrics partial update
      x-summary-source: derived
    delete:
      operationId: api_v1_environments_experiments_metrics_destroy
      description: Manage metrics for an experiment.
      parameters:
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      - in: path
        name: experiment_experiment_id
        schema:
          type: string
        required: true
      - in: path
        name: id
        schema:
          type: string
        required: true
      tags:
      - Environments
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '204':
          description: No response body
      summary: Api v1 environments experiments metrics destroy
      x-summary-source: derived
  /api/v1/environments/{environment_api_key}/experiments/{experiment_id}/:
    patch:
      operationId: api_v1_environments_experiments_partial_update
      description: Manage experiments for an environment.
      parameters:
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      - in: path
        name: experiment_id
        schema:
          type: integer
        description: A unique integer value identifying this experiment.
        required: true
      tags:
      - Environments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedExperiment'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedExperiment'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedExperiment'
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Experiment'
          description: ''
      summary: Api v1 environments experiments partial update
      x-summary-source: derived
    delete:
      operationId: api_v1_environments_experiments_destroy
      description: Manage experiments for an environment.
      parameters:
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      - in: path
        name: experiment_id
        schema:
          type: integer
        description: A unique integer value identifying this experiment.
        required: true
      tags:
      - Environments
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '204':
          description: No response body
      summary: Api v1 environments experiments destroy
      x-summary-source: derived
  /api/v1/environments/{environment_api_key}/experiments/{experiment_id}/complete/:
    post:
      operationId: api_v1_environments_experiments_complete_create
      description: Manage experiments for an environment.
      parameters:
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      - in: path
        name: experiment_id
        schema:
          type: integer
        description: A unique integer value identifying this experiment.
        required: true
      tags:
      - Environments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentList'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ExperimentList'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ExperimentList'
        required: true
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentList'
          description: ''
      summary: Api v1 environments experiments complete create
      x-summary-source: derived
  /api/v1/environments/{environment_api_key}/experiments/{experiment_id}/exposures/refresh/:
    post:
      operationId: api_v1_environments_experiments_exposures_refresh_create
      description: Manage experiments for an environment.
      parameters:
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      - in: path
        name: experiment_id
        schema:
          type: integer
        description: A unique integer value identifying this experiment.
        required: true
      tags:
      - Environments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Experiment'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Experiment'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Experiment'
        required: true
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Experiment'
          description: ''
      summary: Api v1 environments experiments exposures refresh create
      x-summary-source: derived
  /api/v1/environments/{environment_api_key}/experiments/{experiment_id}/pause/:
    post:
      operationId: api_v1_environments_experiments_pause_create
      description: Manage experiments for an environment.
      parameters:
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      - in: path
        name: experiment_id
        schema:
          type: integer
        description: A unique integer value identifying this experiment.
        required: true
      tags:
      - Environments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentList'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ExperimentList'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ExperimentList'
        required: true
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentList'
          description: ''
      summary: Api v1 environments experiments pause create
      x-summary-source: derived
  /api/v1/environments/{environment_api_key}/experiments/{experiment_id}/results/refresh/:
    post:
      operationId: api_v1_environments_experiments_results_refresh_create
      description: Manage experiments for an environment.
      parameters:
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      - in: path
        name: experiment_id
        schema:
          type: integer
        description: A unique integer value identifying this experiment.
        required: true
      tags:
      - Environments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Experiment'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Experiment'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Experiment'
        required: true
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Experiment'
          description: ''
      summary: Api v1 environments experiments results refresh create
      x-summary-source: derived
  /api/v1/environments/{environment_api_key}/experiments/{experiment_id}/rollout/:
    patch:
      operationId: api_v1_environments_experiments_rollout_partial_update
      description: 'Sets an experiment''s rollout: the percentage of eligible identities enrolled, the variant weights they are split across, and optionally the targeted audience. The audience can only be changed before the experiment starts serving traffic.'
      parameters:
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      - in: path
        name: experiment_id
        schema:
          type: integer
        description: A unique integer value identifying this experiment.
        required: true
      tags:
      - Environments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedExperimentRollout'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedExperimentRollout'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedExperimentRollout'
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentList'
          description: ''
      summary: Api v1 environments experiments rollout partial update
      x-summary-source: derived
  /api/v1/environments/{environment_api_key}/experiments/{experiment_id}/start/:
    post:
      operationId: api_v1_environments_experiments_start_create
      description: Manage experiments for an environment.
      parameters:
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      - in: path
        name: experiment_id
        schema:
          type: integer
        description: A unique integer value identifying this experiment.
        required: true
      tags:
      - Environments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentList'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ExperimentList'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ExperimentList'
        required: true
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentList'
          description: ''
      summary: Api v1 environments experiments start create
      x-summary-source: derived
  /api/v1/environments/{environment_api_key}/experiments/results/:
    get:
      operationId: api_v1_environments_experiments_results_retrieve
      description: 'Get experiment results for a feature.


        Returns conversion rates and statistical significance for each variant

        of a feature flag experiment.


        Trait naming convention:

        - Variant tracking: `exp_{feature}_variant` (string value)

        - Conversion tracking: `exp_{feature}_converted` (boolean value)'
      parameters:
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      - in: query
        name: feature
        schema:
          type: string
        description: Feature name to analyse
        required: true
      tags:
      - Environments
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentResults'
          description: ''
      summary: Api v1 environments experiments results retrieve
      x-summary-source: derived
  /api/v1/environments/{environment_api_key}/metrics/:
    get:
      operationId: api_v1_environments_metrics_list
      description: Get metrics for this environment.
      parameters:
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      - name: page
        required: false
        in: query
        description: A page number within the paginated result set.
        schema:
          type: integer
      tags:
      - Environments
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEnvironmentMetricsList'
          description: ''
      summary: Api v1 environments metrics list
      x-summary-source: derived
  /api/v1/environments/{environment_api_key}/onboarding-status/:
    get:
      operationId: api_v1_environments_onboarding_status_retrieve
      description: Obtain information on whether features for this environment have been evaluated yet.
      parameters:
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      tags:
      - Environments
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentOnboardingStatus'
          description: ''
      summary: Api v1 environments onboarding status retrieve
      x-summary-source: derived
  /api/v1/environments/{environment_api_key}/warehouse-connections/:
    get:
      operationId: api_v1_environments_warehouse_connections_list
      description: Manage data warehouse connections for an environment.
      parameters:
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      tags:
      - Environments
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WarehouseConnection'
          description: ''
      summary: Api v1 environments warehouse connections list
      x-summary-source: derived
    post:
      operationId: api_v1_environments_warehouse_connections_create
      description: Manage data warehouse connections for an environment.
      parameters:
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      tags:
      - Environments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WarehouseConnection'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/WarehouseConnection'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/WarehouseConnection'
        required: true
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseConnection'
          description: ''
      summary: Api v1 environments warehouse connections create
      x-summary-source: derived
  /api/v1/environments/{environment_api_key}/warehouse-connections/{connection_id}/:
    get:
      operationId: api_v1_environments_warehouse_connections_retrieve
      description: Manage data warehouse connections for an environment.
      parameters:
      - in: path
        name: connection_id
        schema:
          type: integer
        description: A unique integer value identifying this warehouse connection.
        required: true
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      tags:
      - Environments
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseConnection'
          description: ''
      summary: Api v1 environments warehouse connections retrieve
      x-summary-source: derived
    put:
      operationId: api_v1_environments_warehouse_connections_update
      description: Manage data warehouse connections for an environment.
      parameters:
      - in: path
        name: connection_id
        schema:
          type: integer
        description: A unique integer value identifying this warehouse connection.
        required: true
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      tags:
      - Environments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WarehouseConnection'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/WarehouseConnection'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/WarehouseConnection'
        required: true
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseConnection'
          description: ''
      summary: Api v1 environments warehouse connections update
      x-summary-source: derived
    patch:
      operationId: api_v1_environments_warehouse_connections_partial_update
      description: Manage data warehouse connections for an environment.
      parameters:
      - in: path
        name: connection_id
        schema:
          type: integer
        description: A unique integer value identifying this warehouse connection.
        required: true
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      tags:
      - Environments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedWarehouseConnection'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedWarehouseConnection'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedWarehouseConnection'
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseConnection'
          description: ''
      summary: Api v1 environments warehouse connections partial update
      x-summary-source: derived
    delete:
      operationId: api_v1_environments_warehouse_connections_destroy
      description: Manage data warehouse connections for an environment.
      parameters:
      - in: path
        name: connection_id
        schema:
          type: integer
        description: A unique integer value identifying this warehouse connection.
        required: true
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      tags:
      - Environments
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '204':
          description: No response body
      summary: Api v1 environments warehouse connections destroy
      x-summary-source: derived
  /api/v1/environments/{environment_api_key}/warehouse-connections/{connection_id}/events/:
    get:
      operationId: api_v1_environments_warehouse_connections_events_list
      description: List the distinct event names in the connection's warehouse.
      parameters:
      - in: path
        name: connection_id
        schema:
          type: integer
        description: A unique integer value identifying this warehouse connection.
        required: true
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      tags:
      - Environments
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseEventNamesResult'
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseEventNamesUnsupported'
          description: ''
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseEventNamesUnavailable'
          description: ''
      summary: Api v1 environments warehouse connections events list
      x-summary-source: derived
  /api/v1/environments/{environment_api_key}/warehouse-connections/{connection_id}/test-warehouse-connection/:
    post:
      operationId: api_v1_environments_warehouse_connections_test_warehouse_connection_create
      description: Manage data warehouse connections for an environment.
      parameters:
      - in: path
        name: connection_id
        schema:
          type: integer
        description: A unique integer value identifying this warehouse connection.
        required: true
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      tags:
      - Environments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WarehouseConnection'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/WarehouseConnection'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/WarehouseConnection'
        required: true
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseConnection'
          description: ''
      summary: Api v1 environments warehouse connections test warehouse connection create
      x-summary-source: derived
  /api/v1/environments/{environment_api_key}/warehouse-connections/test-warehouse-connection/:
    post:
      operationId: api_v1_environments_warehouse_connections_test_warehouse_connection_config_create
      description: Manage data warehouse connections for an environment.
      parameters:
      - in: path
        name: environment_api_key
        schema:
          type: string
        required: true
      tags:
      - Environments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WarehouseConnection'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/WarehouseConnection'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/WarehouseConnection'
        required: true
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WarehouseConnectionTestResult'
          description: ''
      summary: Api v1 environments warehouse connections test warehouse connection config…
      x-summary-source: derived
  /api/v1/environments/get-by-uuid/{uuid}/:
    get:
      operationId: api_v1_environments_get_by_uuid_retrieve
      parameters:
      - in: path
        name: uuid
        schema:
          type: string
          pattern: ^[0-9a-f-]+$
        required: true
      tags:
      - Environments
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentSerializerWithMetadata'
          description: ''
      summary: Api v1 environments get by uuid retrieve
      x-summary-source: derived
  /api/v1/environments/permissions/:
    get:
      operationId: api_v1_environments_permissions_list
      parameters:
      - name: page
        required: false
        in: query
        description: A page number within the paginated result set.
        schema:
          type: integer
      tags:
      - Environments
      security:
      - tokenAuth: []
      - Master API Key: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPermissionModelList'
          description: ''
      summary: Api v1 environments permissions list
      x-summary-source: derived
components:
  parameters:
    EnvironmentApiKey:
      name: environment_api_key
      in: path
      description: The API key for the environment
      required: true
      schema:
        type: string
  schemas:
    Environment:
      type: object
      description: An environment in Flagsmith representing a deployment stage such as development, staging, or production.
      properties:
        id:
          type: integer
          description: The unique identifier for this environment
        name:
          type: string
          description: The name of the environment
        api_key:
          type: string
          description: The client-side API key for this environment
        description:
          type: string
          nullable: true
          description: A description of the environment
        project:
          type: integer
          description: The ID of the project this environment belongs to
        minimum_change_request_approvals:
          type: integer
          nullable: true
          description: Minimum number of approvals required for change requests in this environment
        allow_client_traits:
          type: boolean
          description: Whether client-side SDKs can set traits
        hide_sensitive_data:
          type: boolean
          description: Whether sensitive data is hidden in the dashboard
    EnvironmentInput:
      type: object
      description: Input object for updating an environment
      required:
      - name
      properties:
        name:
          type: string
          description: The name of the environment
        description:
          type: string
          nullable: true
          description: A description of the environment
        allow_client_traits:
          type: boolean
          description: Whether client-side SDKs can set traits
        hide_sensitive_data:
          type: boolean
          description: Whether sensitive data is hidden in the dashboard
    CohortCsvSyncResult:
      type: object
      properties:
        version:
          type: integer
          minimum: 0
        added:
          type: integer
          minimum: 0
        removed:
          type: integer
          minimum: 0
        unchanged:
          type: integer
          minimum: 0
        ignored:
          $ref: '#/components/schemas/CohortCsvSyncIgnoredRows'
      required:
      - added
      - ignored
      - removed
      - unchanged
      - version
    Metric:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 255
        description:
          type: string
        aggregation:
          $ref: '#/components/schemas/AggregationEnum'
        direction:
          $ref: '#/components/schemas/DirectionEnum'
        definition: {}
        experiments:
          type: array
          items:
            type: object
            description: 'A lightweight view of an experiment using a metric, as returned in the

              metric''s ``experiments`` field.'
            properties:
              id:
                type: integer
              name:
                type: string
              status:
                type: string
            required:
            - id
            - name
            - status
          readOnly: true
        created_at:
          type: string
          format: date-time
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true
      required:
      - definition
      - name
    GetEdgeIdentityOverrides:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/GetEdgeIdentityOverridesResult'
      required:
      - results
    Experiment:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        feature:
          type: integer
        name:
          type: string
          maxLength: 255
        hypothesis:
          type: string
        status:
          allOf:
          - $ref: '#/components/schemas/Status7a8Enum'
          readOnly: true
        metrics:
          type: array
          items:
            $ref: '#/components/schemas/ExperimentMetricInline'
          writeOnly: true
        experiment_rollout:
          allOf:
          - $ref: '#/components/schemas/ExperimentRollout'
          writeOnly: true
        created_at:
          type: string
          format: date-time
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true
        started_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        ended_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
      required:
      - feature
      - hypothesis
      - name
    V1EnvironmentDocumentResponseFeatureStateMetadata:
      additionalProperties: true
      description: Additional, non-evaluation data about a feature state.
      properties:
        experiment:
          $ref: '#/components/schemas/V1EnvironmentDocumentResponseExperimentMetadata'
      title: FeatureStateMetadata
      type: object
    CohortSyncKey:
      type: object
      properties:
        prefix:
          type: string
          readOnly: true
        name:
          type: string
          maxLength: 50
        created:
          type: string
          format: date-time
          readOnly: true
        key:
          type:
          - string
          - 'null'
          readOnly: true
      required:
      - name
    DeleteAllTraitKeys:
      type: object
      properties:
        key:
          type: string
      required:
      - key
    V1EnvironmentDocumentResponseMultivariateFeatureOption:
      description: Represents a single multivariate feature option in the Flagsmith UI.
      properties:
        value:
          title: Value
          type: string
      required:
      - value
      title: MultivariateFeatureOption
      type: object
    V1EnvironmentDocumentResponseFeature:
      description: Represents a Flagsmith feature, defined at project level.
      properties:
        id:
          title: Id
          type: integer
        name:
          title: Name
          type: string
        type:
          allOf:
          - $ref: '#/components/schemas/TypeD77Enum'
          title: Type
      required:
      - id
      - name
      - type
      title: Feature
      type: object
    MatchEnum:
      enum:
      - any
      - all
      type: string
      description: '* `any` - Any

        * `all` - All'
    UserObjectPermissions:
      type: object
      properties:
        permissions:
          type: array
          items:
            type: string
        admin:
          type: boolean
        tag_based_permissions:
          type: array
          items:
            $ref: '#/components/schemas/TagBasedPermission'
      required:
      - admin
      - permissions
      - tag_based_permissions
    V1EnvironmentDocumentResponseExperimentMetadata:
      description: Represents the experiment a feature state is part of. Only present while the experiment is running.
      properties:
        id:
          title: Id
          type: integer
        name:
          title: Name
          type: string
        in_experiment:
          title: In Experiment
          type: boolean
      required:
      - id
      - name
      - in_experiment
      title: ExperimentMetadata
      type: object
    PatchedExperimentMetric:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        metric:
          type: integer
        metric_name:
          type: string
          readOnly: true
        aggregation:
          type: string
          readOnly: true
        direction:
          allOf:
          - $ref: '#/components/schemas/DirectionEnum'
          readOnly: true
        expected_direction:
          $ref: '#/components/schemas/ExpectedDirectionEnum'
        created_at:
          type: string
          format: date-time
          readOnly: true
    WarehouseConnectionTestResult:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/WarehouseConnectionStatusEnum'
        status_detail:
          type:
          - string
          - 'null'
      required:
      - status
      - status_detail
    Status7a8Enum:
      enum:
      - created
      - running
      - paused
      - completed
      type: string
      description: '* `created` - Created

        * `running` - Running

        * `paused` - Paused

        * `completed` - Completed'
    WarehouseConnectionStatusEnum:
      enum:
      - created
      - pending_connection
      - connected
      - errored
      type: string
      description: '* `created` - Created

        * `pending_connection` - Pending Connection

        * `connected` - Connected

        * `errored` - Errored'
    PatchedExperiment:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        feature:
          type: integer
        name:
          type: string
          maxLength: 255
        hypothesis:
          type: string
        status:
          allOf:
          - $ref: '#/components/schemas/Status7a8Enum'
          readOnly: true
        metrics:
          type: array
          items:
            $ref: '#/components/schemas/ExperimentMetricInline'
          writeOnly: true
        experiment_rollout:
          allOf:
          - $ref: '#/components/schemas/ExperimentRollout'
          writeOnly: true
        created_at:
          type: string
          format: date-time
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true
        started_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        ended_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
    ExperimentList:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        feature:
          allOf:
          - $ref: '#/components/schemas/ExperimentFeature'
          readOnly: true
        name:
          type: string
          maxLength: 255
        hypothesis:
          type: string
        status:
          allOf:
          - $ref: '#/components/schemas/Status7a8Enum'
          readOnly: true
        metrics:
          type: array
          items:
            $ref: '#/components/schemas/ExperimentMetric'
          readOnly: true
        experiment_rollout:
          allOf:
          - $ref: '#/components/schemas/ExperimentRollout'
          writeOnly: true
        created_at:
          type: string
          format: date-time
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true
        started_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
        ended_at:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
      required:
      - hypothesis
      - name
    PermissionModel:
      type: object
      properties:
        key:
          type: string
          maxLength: 100
        description:
          type: string
        supports_tag:
          type: boolean
          readOnly: true
      required:
      - description
      - key
    EnvironmentAPIKey:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        key:
          type: string
          readOnly: true
        active:
          type: boolean
        created_at:
          type: string
          format: date-time
          readOnly: true
        name:
          type: string
          maxLength: 100
        expires_at:
          type:
          - string
          - 'null'
          format: date-time
      required:
      - name
    ExpectedDirectionEnum:
      enum:
      - increase
      - decrease
      - not_increase
      - not_decrease
      type: string
      description: '* `increase` - Increase

        * `decrease` - Decrease

        * `not_increase` - Should not increase

        * `not_decrease` - Should not decrease'
    ExperimentResults:
      type: object
      description: Serializer for the full experiment results response.
      properties:
        feature:
          type: string
        variants:
          type: array
          items:
            $ref: '#/components/schemas/ExperimentVariantResult'
        statistics:
          $ref: '#/components/schemas/ExperimentStatistics'
      required:
      - feature
      - statistics
      - variants
    V1EnvironmentDocumentResponseSegment:
      description: Represents a Flagsmith segment. Carries rules and feature overrides.
      properties:
        id:
          title: Id
          type: integer
        name:
          title: Name
          type: string
        rules:
          items:
            $ref: '#/components/schemas/V1EnvironmentDocumentResponseSegmentRule'
          title: Rules
          type: array
        feature_states:
          items:
            $ref: '#/components/schemas/V1EnvironmentDocumentResponseFeatureState'
          title: Feature States
          type: array
      required:
      - id
      - name
      - rules
      title: Segment
      type: object
    PatchedWarehouseConnection:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        warehouse_type:
          $ref: '#/components/schemas/WarehouseTypeEnum'
        status:
          allOf:
          - $ref: '#/components/schemas/WarehouseConnectionStatusEnum'
          readOnly: true
        status_detail:
          type:
          - string
          - 'null'
          readOnly: true
        name:
          type: string
          maxLength: 255
        config:
          oneOf:
          - {}
          - type: 'null'
        credentials:
          oneOf:
          - {}
          - type: 'null'
          writeOnly: true
        created_at:
          type: string
          format: date-time
          readOnly: true
        total_events_received:
          type:
          - integer
          - 'null'
          readOnly: true
        unique_events_count:
          type:
          - integer
          - 'null'
          readOnly: true
    CohortCsvSyncIgnoredRows:
      type: object
      properties:
        empty:
          type: integer
          minimum: 0
        duplicates:
          type: integer
          minimum: 0
        too_long:
          type: integer
          minimum: 0
      required:
      - duplicates
      - empty
      - too_long
    TraitKeys:
      type: object
      properties:
        keys:
          type: array
          items:
            type: string
      required:
      - keys
    DerivedFrom:
      type: object
      properties:
        groups:
          type: array
          items:
            $ref: '#/components/schemas/Group'
        roles:
          type: array
          items:
            $ref: '#/components/schemas/PermissionRole'
      required:
      - groups
      - roles
    PaginatedPermissionModelList:
      type: object
      required:
      - count
      - results
      properties:
        count:
          type: integer
          example: 123
        next:
          type: string
          nullable: true
          format: uri
          example: http://api.example.org/accounts/?page=4
        previous:
          type: string
          nullable: true
          format: uri
          example: http://api.example.org/accounts/?page=2
        results:
          type: array
          items:
            $ref: '#/components/schemas/PermissionModel'
    ExperimentFeature:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          readOnly: true
        type:
          allOf:
          - $ref: '#/components/schemas/TypeD77Enum'
          readOnly: true
        initial_value:
          type:
          - string
          - 'null'
          readOnly: true
        multivariate_options:
          type: array
          items:
            type: object
            additionalProperties: {}
          readOnly: true
    WarehouseEventNamesResult:
      type: object
      properties:
        events:
          type: array
          items:
            type: string
        is_truncated:
          type: boolean
      required:
      - events
      - is_truncated
    V1EnvironmentDocumentResponseSegmentRuleTypeEnum:
      enum:
      - ALL
      - ANY
      - NONE
      type: string
    WarehouseTypeEnum:
      enum:
      - flagsmith
      - snowflake
      - clickhouse
      type: string
      description: '* `flagsmith` - Flagsmith

        * `snowflake` - Snowflake

        * `clickhouse` - ClickHouse'
    CohortMembershipCounts:
      type: object
      properties:
        applied:
          type: integer
          minimum: 0
        pending_add:
          type: integer
          minimum: 0
        pending_remove:
          type: integer
          minimum: 0
      required:
      - applied
      - pending_add
      - pending_remove
    V1EnvironmentDocumentResponseSegmentRule:
      description: Represents a rule within a segment used by Flagsmith engine. Root rules usually contain nested rules.
      properties:
        type:
          allOf:
          - $ref: '#/components/schemas/V1EnvironmentDocumentResponseSegmentRuleTypeEnum'
          title: Type
        rules:
          items:
            $ref: '#/components/schemas/V1EnvironmentDocumentResponseSegmentRule'
          title: Rules
          type: array
        conditions:
          items:
            $ref: '#/components/schemas/V1EnvironmentDocumentResponseSegmentCondition'
          title: Conditions
          type: array
      required:
      - type
      - rules
      - conditions
      title: SegmentRule
      type: object
    V1EnvironmentDocumentResponse:
      description: '`/api/v1/environment-documents/` response.


        Powers Flagsmith SDK''s local evaluation mode.'
      properties:
        api_key:
          title: Api Key
          type: string
        feature_states:
          items:
            $ref: '#/components/schemas/V1EnvironmentDocumentResponseFeatureState'
          title: Feature States
          type: array
        identity_overrides:
          items:
            $ref: '#/components/schemas/V1EnvironmentDocumentResponseIdentityOverride'
          title: Identity Overrides
          type: array
        name:
          title: Name
          type: string
        project:
          $ref: '#/components/schemas/V1EnvironmentDocumentResponseProject'
      required:
      - api_key
      - feature_states
      - identity_overrides
      - name
      - project
      title: V1EnvironmentDocumentResponse
      type: object
    EdgeMultivariateFeatureStateValue:
      type: object
      properties:
        multivariate_feature_option:
          type: integer
        percentage_allocation:
          type: number
          format: double
          maximum: 100
          minimum: 0
      required:
      - multivariate_feature_option
      - percentage_allocation
    EnvironmentRetrieveSerializerWithMetadata:
      type: object
      description: Functionality for serializers that need to handle metadata
      properties:
        id:
          type: integer
          readOnly: true
        uuid:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          maxLength: 2000
        api_key:
          type: string
          maxLength: 100
        description:
          type:
          - string
          - 'null'
          maxLength: 20000
        project:
          type: integer
          description: Changing the project selected will remove all previous Feature States for the previously associated projects Features that are related to this Environment. New default Feature States will be created for the new selected projects Features for this Environment.
        minimum_change_request_approvals:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        allow_client_traits:
          type: boolean
          description: Allows clients using the client API key to set traits.
        banner_text:
          type:
          - string
          - 'null'
          maxLength: 255
        banner_colour:
          type:
          - string
          - 'null'
          description: hex code for the banner colour
          maxLength: 7
        hide_disabled_flags:
          type:
          - boolean
          - 'null'
          description: 'If true will exclude flags from SDK which are disabled. NOTE: If set, this will override the project `hide_disabled_flags`'
        use_mv_v2_evaluation:
          type: boolean
          description: 'To avoid breaking the API, we return this field as well.


            Warning: this will still mean that sending the `use_mv_v2_evaluation` field

            (e.g. in a PUT request) will not behave as expected but, since this is a minor

            issue, I think we can ignore.'
          readOnly: true
        use_identity_composite_key_for_hashing:
          type: boolean
          description: Enable this to have consistent multivariate and percentage split evaluations across all SDKs (in local and server side mode)
        hide_sensitive_data:
          type: boolean
          description: 'If true, will hide sensitive data(e.g: traits, description etc) from the SDK endpoints'
        use_v2_feature_versioning:
          type: boolean
          readOnly: true
        use_identity_overrides_in_local_eval:
          type: boolean
          description: When enabled, identity overrides will be included in the environment document
        is_creating:
          type: boolean
          readOnly: true
          description: Attribute used to indicate when an environment is still being created (via clone for example)
        metadata:
          type: array
          items:
            $ref: '#/components/schemas/Metadata'
        total_segment_overrides:
          type: integer
      required:
      - name
      - project
      - total_segment_overrides
    Error:
      type: object
      properties:
        message:
          type: string
      required:
      - message
    WarehouseEventNamesUnsupported:
      type: object
      properties:
        detail:
          type: string
      required:
      - detail
    CohortCsvSync:
      type: object
      properties:
        file:
          type: string
          format: uri
        identifier_column:
          type: integer
          minimum: 0
          default: 0
        has_header:
          type: boolean
          default: true
      required:
      - file
    AggregationEnum:
      enum:
      - count
      - sum
      - mean
      - occurrence
      type: string
      description: '* `count` - Count

        * `sum` - Sum

        * `mean` - Mean

        * `occurrence` - Occurrence (event happened at least once)'
    DetailedPermissions:
      type: object
      properties:
        permission_key:
          type: string
        is_directly_granted:
          type: boolean
        derived_from:
          $ref: '#/components/schemas/DerivedFrom'
      required:
      - derived_from
      - is_directly_granted
      - permission_key
    WarehouseEventNamesUnavailable:
      type: object
      properties:
        detail:
          type: string
      required:
      - detail
    WarehouseConnection:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        warehouse_type:
          $ref: '#/components/schemas/WarehouseTypeEnum'
        status:
          allOf:
          - $ref: '#/components/schemas/WarehouseConnectionStatusEnum'
          readOnly: true
        status_detail:
          type:
          - string
          - 'null'
          readOnly: true
        name:
          type: string
          maxLength: 255
        config:
          oneOf:
          - {}
          - type: 'null'
        credentials:
          oneOf:
          - {}
          - type: 'null'
          writeOnly: true
        created_at:
          type: string
          format: date-time
          readOnly: true
        total_events_received:
          type:
          - integer
          - 'null'
          readOnly: true
        unique_events_count:
          type:
          - integer
          - 'null'
          readOnly: true
      required:
      - warehouse_type
    V1EnvironmentDocumentResponseProject:
      description: Represents a Flagsmith project. For SDKs, this is mainly used to convey segment data.
      properties:
        segments:
          items:
            $ref: '#/components/schemas/V1EnvironmentDocumentResponseSegment'
          title: Segments
          type: array
      required:
      - segments
      title: Project
      type: object
    SourceTypeEnum:
      enum:
      - csv
      - amplitude
      - mixpanel
      type: string
      description: '* `csv` - CSV

        * `amplitude` - Amplitude

        * `mixpanel` - Mixpanel'
    V1EnvironmentDocumentResponseMultivariateFeatureStateValue:
      description: Represents a multivariate feature state value.
      properties:
        id:
          anyOf:
          - type: integer
          - type: 'null'
          title: Id
        mv_fs_value_uuid:
          anyOf:
          - format: uuid
            type: string
          - type: 'null'
          title: Mv Fs Value Uuid
        percentage_allocation:
          title: Percentage Allocation
          type: number
        multivariate_feature_option:
          $ref: '#/components/schemas/V1EnvironmentDocumentResponseMultivariateFeatureOption'
      required:
      - id
      - mv_fs_value_uuid
      - percentage_allocation
      - multivariate_feature_option
      title: MultivariateFeatureStateValue
      type: object
    EnvironmentMetrics:
      type: object
      properties:
        metrics:
          type: array
          items:
            $ref: '#/components/schemas/MetricItem'
          readOnly: true
    EnvironmentOnboardingStatus:
      type: object
      properties:
        first_evaluated_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the environment's flags were first evaluated by an SDK.
        first_evaluated_sdk_label:
          type:
          - string
          - 'null'
          description: SDK that first evaluated the environment's flags.
          maxLength: 100
    V1EnvironmentDocumentResponseFeatureSegment:
      description: Represents data specific to a segment feature override.
      properties:
        priority:
          anyOf:
          - type: integer
          - type: 'null'
          title: Priority
      required:
      - priority
      title: FeatureSegment
      type: object
    UpdateEnvironment:
      type: object
      description: "Mixin to add read only status to fields in a given serializer based on the existence\nof a subscription and a black list of plan ids\n\nExample usage:\n\n    class MySerializer(ReadOnlyIfNotValidPlanMixin, ModelSerializer):\n        class Meta:\n            model = MyModel\n            fields = (\"my_field\",)\n\n        invalid_plans = (\"free\",)\n        field_names = (\"my_field\",)\n\n        def get_subscription(self):\n            return subscription"
      properties:
        id:
          type: integer
          readOnly: true
        uuid:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          maxLength: 2000
        api_key:
          type: string
          maxLength: 100
        description:
          type:
          - string
          - 'null'
          maxLength: 20000
        project:
          type: integer
          readOnly: true
          description: Changing the project selected will remove all previous Feature States for the previously associated projects Features that are related to this Environment. New default Feature States will be created for the new selected projects Features for this Environment.
        minimum_change_request_approvals:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
          readOnly: true
        allow_client_traits:
          type: boolean
          description: Allows clients using the client API key to set traits.
        banner_text:
          type:
          - string
          - 'null'
          maxLength: 255
        banner_colour:
          type:
          - string
          - 'null'
          description: hex code for the banner colour
          maxLength: 7
        hide_disabled_flags:
          type:
          - boolean
          - 'null'
          description: 'If true will exclude flags from SDK which are disabled. NOTE: If set, this will override the project `hide_disabled_flags`'
        use_mv_v2_evaluation:
          type: boolean
          description: 'To avoid breaking the API, we return this field as well.


            Warning: this will still mean that sending the `use_mv_v2_evaluation` field

            (e.g. in a PUT request) will not behave as expected but, since this is a minor

            issue, I think we can ignore.'
          readOnly: true
        use_identity_composite_key_for_hashing:
          type: boolean
          description: Enable this to have consistent multivariate and percentage split evaluations across all SDKs (in local and server side mode)
        hide_sensitive_data:
          type: boolean
          description: 'If true, will hide sensitive data(e.g: traits, description etc) from the SDK endpoints'
        use_v2_feature_versioning:
          type: boolean
          readOnly: true
        use_identity_overrides_in_local_eval:
          type: boolean
          description: When enabled, identity overrides will be included in the environment document
        is_creating:
          type: boolean
          readOnly: true
          description: Attribute used to indicate when an environment is still being created (via clone for example)
        metadata:
          type: array
          items:
            $ref: '#/components/schemas/Metadata'
      required:
      - name
    GetEdgeIdentityOverridesResult:
      type: object
      properties:
        identifier:
          type: string
        identity_uuid:
          type: string
        feature_state:
          $ref: '#/components/schemas/BaseEdgeIdentityFeatureState'
      required:
      - feature_state
      - identifier
      - identity_uuid
    PatchedUpdateEnvironment:
      type: object
      description: "Mixin to add read only status to fields in a given serializer based on the existence\nof a subscription and a black list of plan ids\n\nExample usage:\n\n    class MySerializer(ReadOnlyIfNotValidPlanMixin, ModelSerializer):\n        class Meta:\n            model = MyModel\n            fields = (\"my_field\",)\n\n        invalid_plans = (\"free\",)\n        field_names = (\"my_field\",)\n\n        def get_subscription(self):\n            return subscription"
      properties:
        id:
          type: integer
          readOnly: true
        uuid:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          maxLength: 2000
        api_key:
          type: string
          maxLength: 100
        description:
          type:
          - string
          - 'null'
          maxLength: 20000
        project:
          type: integer
          readOnly: true
          description: Changing the project selected will remove all previous Feature States for the previously associated projects Features that are related to this Environment. New default Feature States will be created for the new selected projects Features for this Environment.
        minimum_change_request_approvals:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
          readOnly: true
        allow_client_traits:
          type: boolean
          description: Allows clients using the client API key to set traits.
        banner_text:
          type:
          - string
          - 'null'
          maxLength: 255
        banner_colour:
          type:
          - string
          - 'null'
          description: hex code for the banner colour
          maxLength: 7
        hide_disabled_flags:
          type:
          - boolean
          - 'null'
          description: 'If true will exclude flags from SDK which are disabled. NOTE: If set, this will override the project `hide_disabled_flags`'
        use_mv_v2_evaluation:
          type: boolean
          description: 'To avoid breaking the API, we return this field as well.


            Warning: this will still mean that sending the `use_mv_v2_evaluation` field

            (e.g. in a PUT request) will not behave as expected but, since this is a minor

            issue, I think we can ignore.'
          readOnly: true
        use_identity_composite_key_for_hashing:
          type: boolean
          description: Enable this to have consistent multivariate and percentage split evaluations across all SDKs (in local and server side mode)
        hide_sensitive_data:
          type: boolean
          description: 'If true, will hide sensitive data(e.g: traits, description etc) from the SDK endpoints'
        use_v2_feature_versioning:
          type: boolean
          readOnly: true
        use_identity_overrides_in_local_eval:
          type: boolean
          description: When enabled, identity overrides will be included in the environment document
        is_creating:
          type: boolean
          readOnly: true
          description: Attribute used to indicate when an environment is still being created (via clone for example)
        metadata:
          type: array
          items:
            $ref: '#/components/schemas/Metadata'
    EnvironmentSerializerWithMetadata:
      type: object
      description: Functionality for serializers that need to handle metadata
      properties:
        id:
          type: integer
          readOnly: true
        uuid:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          maxLength: 2000
        api_key:
          type: string
          maxLength: 100
        description:
          type:
          - string
          - 'null'
          maxLength: 20000
        project:
          type: integer
          description: Changing the project selected will remove all previous Feature States for the previously associated projects Features that are related to this Environment. New default Feature States will be created for the new selected projects Features for this Environment.
        minimum_change_request_approvals:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
        allow_client_traits:
          type: boolean
          description: Allows clients using the client API key to set traits.
        banner_text:
          type:
          - string
          - 'null'
          maxLength: 255
        banner_colour:
          type:
          - string
          - 'null'
          description: hex code for the banner colour
          maxLength: 7
        hide_disabled_flags:
          type:
          - boolean
          - 'null'
          description: 'If true will exclude flags from SDK which are disabled. NOTE: If set, this will override the project `hide_disabled_flags`'
        use_mv_v2_evaluation:
          type: boolean
          description: 'To avoid breaking the API, we return this field as well.


            Warning: this will still mean that sending the `use_mv_v2_evaluation` field

            (e.g. in a PUT request) will not behave as expected but, since this is a minor

            issue, I think we can ignore.'
          readOnly: true
        use_identity_composite_key_for_hashing:
          type: boolean
          description: Enable this to have consistent multivariate and percentage split evaluations across all SDKs (in local and server side mode)
        hide_sensitive_data:
          type: boolean
          description: 'If true, will hide sensitive data(e.g: traits, description etc) from the SDK endpoints'
        use_v2_feature_versioning:
          type: boolean
          readOnly: true
        use_identity_overrides_in_local_eval:
          type: boolean
          description: When enabled, identity overrides will be included in the environment document
        is_creating:
          type: boolean
          readOnly: true
          description: Attribute used to indicate when an environment is still being created (via clone for example)
        metadata:
          type: array
          items:
            $ref: '#/components/schemas/Metadata'
      required:
      - name
      - project
    CreateEnvironment:
      type: object
      description: "Mixin to add read only status to fields in a given serializer based on the existence\nof a subscription and a black list of plan ids\n\nExample usage:\n\n    class MySerializer(ReadOnlyIfNotValidPlanMixin, ModelSerializer):\n        class Meta:\n            model = MyModel\n            fields = (\"my_field\",)\n\n        invalid_plans = (\"free\",)\n        field_names = (\"my_field\",)\n\n        def get_subscription(self):\n            return subscription"
      properties:
        id:
          type: integer
          readOnly: true
        uuid:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          maxLength: 2000
        api_key:
          type: string
          maxLength: 100
        description:
          type:
          - string
          - 'null'
          maxLength: 20000
        project:
          type: integer
          description: Changing the project selected will remove all previous Feature States for the previously associated projects Features that are related to this Environment. New default Feature States will be created for the new selected projects Features for this Environment.
        minimum_change_request_approvals:
          type:
          - integer
          - 'null'
          maximum: 2147483647
          minimum: -2147483648
          readOnly: true
        allow_client_traits:
          type: boolean
          description: Allows clients using the client API key to set traits.
        banner_text:
          type:
          - string
          - 'null'
          maxLength: 255
        banner_colour:
          type:
          - string
          - 'null'
          description: hex code for the banner colour
          maxLength: 7
        hide_disabled_flags:
          type:
          - boolean
          - 'null'
          description: 'If true will exclude flags from SDK which are disabled. NOTE: If set, this will override the project `hide_disabled_flags`'
        use_mv_v2_evaluation:
          type: boolean
          description: 'To avoid breaking the API, we return this field as well.


            Warning: this will still mean that sending the `use_mv_v2_evaluation` field

            (e.g. in a PUT request) will not behave as expected but, since this is a minor

            issue, I think we can ignore.'
          readOnly: true
        use_identity_composite_key_for_hashing:
          type: boolean
[...]
